mtis_p3_cliente_net/Service References/ServiceCompra/servicioAlmacenLocal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/servicioAlmacenLocal/" name="servicioAlmacenLocal" targetNamespace="http://www.example.org/servicioAlmacenLocal/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/servicioAlmacenLocal/">
      <xsd:element name="ComprobarStock">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="numeroUnidades" type="xsd:int" />
            <xsd:element name="referenciaProducto" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ComprobarStockResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="existe" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarStock">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="numeroUnidades" type="xsd:int" />
            <xsd:element name="referenciaProducto" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarStockResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="actualizado" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ComprobarStockRequest">
    <wsdl:part name="parameters" element="tns:ComprobarStock" />
  </wsdl:message>
  <wsdl:message name="ComprobarStockResponse">
    <wsdl:part name="parameters" element="tns:ComprobarStockResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarStockRequest">
    <wsdl:part name="parameters" element="tns:ActualizarStock" />
  </wsdl:message>
  <wsdl:message name="ActualizarStockResponse">
    <wsdl:part name="parameters" element="tns:ActualizarStockResponse" />
  </wsdl:message>
  <wsdl:portType name="servicioAlmacenLocal">
    <wsdl:operation name="ComprobarStock">
      <wsdl:input message="tns:ComprobarStockRequest" />
      <wsdl:output message="tns:ComprobarStockResponse" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarStock">
      <wsdl:input message="tns:ActualizarStockRequest" />
      <wsdl:output message="tns:ActualizarStockResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="servicioAlmacenLocalSOAP" type="tns:servicioAlmacenLocal">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ComprobarStock">
      <soap:operation soapAction="http://www.example.org/servicioAlmacenLocal/ComprobarStock" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarStock">
      <soap:operation soapAction="http://www.example.org/servicioAlmacenLocal/ActualizarStock" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="servicioAlmacenLocal">
    <wsdl:port name="servicioAlmacenLocalSOAP" binding="tns:servicioAlmacenLocalSOAP">
      <soap:address location="http://localhost:9080/p3_GestionAlmacenLocal/services/servicioAlmacenLocal" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>